<% provide(:title, 'Sign in') %>
<div c="d-flex align-items-center justify-content-center mt-4">
  <div class="sign-up-stuff">
    <h2 class="text-center"><%= t('forms.sign_in') %></h2>
    <%= link_to sign_up_path do %>
      <h5 class="text-center fw-semibold text-dark m-0"><%= t('sessions.create_an_account') %></h5>
    <% end %>

    <div >
      <%= form_with model: @user, url: login_path, scope: :user  do |form| %>
        <%= render partial: "shared/form_errors", locals: { object: form.object } %>

        <div class="signup-input">
          <div class="signup-label">
            <%= form.label :email, class: "form-label" %>
          </div>
          <div class="">
            <%= form.email_field :email, class: "form-control border-danger", required: true %>
          </div>
        </div>
        
        <div class="signup-input">
          <div class="signup-label">
            <%= form.label :password, class: "form-label" %>
          </div>
          <div class="">
            <%= form.password_field :password, class: "form-control border-danger", required: true %>
          </div>
        </div>

        <div class="text-center">
          <%= form.submit t('forms.sign_in'), class: "submit-button" %>
        </div>

      <% end %>
    </div>
  </div>
</div>
