<div id="welcome" class="container d-flex flex-column w-75 mt-5 mb-4 pt-5">

  <br/>
  <br/>
  <h1 class="text-danger"><%= t('welcome.instructions.title', username: current_user.username ).html_safe %>
  </h1>
  <hr class="border-top border-3 border-danger my-2">
  <br/>
  <p class="lead"><%= t('welcome.instructions.subtitle') %></p>
  <ul class="list">
    <li class="mb-2"><%= t('welcome.instructions.list.answer_questions') %></li>
    <li class="mb-2"><%= t('welcome.instructions.list.submit_answers') %></li>
    <li class="mb-2"><%= t('welcome.instructions.list.start_quiz') %></li>
  </ul>
  <div class="d-flex flex-row justify-content-center">
    <%= link_to step_path(id: 1), class: " pt-2 text-center w-25 submit-button" do %>
        <%= t('welcome.start_quiz') %>
    <% end %>
  </div>
  

  

    
</div>

